{% extends 'blog/base.html' %}
{% block content %}
<div class="post">
<h2>{{ vacancy.name }}</h2>
Требуемый опыт {{ vacancy.experience }}
</br>
Оплата от {{ vacancy.salary_from }} руб
до {{ vacancy.salary_to }} руб
<br>
<br>
{% autoescape off %}
{{ vacancy.responsibility }}
{% endautoescape %}
<b>Ключевые навыки по мнение работодателя:</b>
<{{ vacancy.requirement }}
</br>
</br>
<h2>Анализ вакансии и поиск ключевых слов</h2>

<b>Найденные ключевые слова:</b>
{% for competences_list in competences %}
<a href=/ class="button primary small"><b>{{ competences_list }}</b></a>
{% endfor %}
</br>
</br>
<b>Связанные сущности:</b>
{% for associated_list in associated %}
<a href="{% url 'blog:vend_teh' associated_list.name %}" class="button">{{ associated_list.full_name }}</a>
{% endfor %}
</br>
</br>
<h2>Примерная оценка стоимости и времени подготовки сутрудника обладающего данными навыками</h2>
<h2>График соответсвия уровню зарплат подобных сотрудников:</h2>
</div>
{% endblock %}

