{% extends 'blog/base1.html' %}
{% block content %}

                                <section>
                                    <header class="major">
                                        <h2>Вакансии системных администраторов</h2>
                                    </header>
                                    <div class="posts">
                                        {% for vacancy in vacancy_p %}
                                        <article>
                                            <a href="#" class="image"><img src="blog/static/blog/images/pic01.jpg" alt="" /></a>
                                            <h3><a href="{% url 'blog:detail' vacancy.vacancy_id %}">{{ vacancy.name }}.{{ vacancy.employer_id }}</a></h3>
                                            {% autoescape off %}
                                            {{ vacancy.responsibility }}
                                            </br>
                                            {{ vacancy.requirement }}
                                            {% endautoescape %}
                                            <ul class="actions">
                                                <li><a href="{% url 'blog:detail' vacancy.vacancy_id %}" class="button">Подробнее</a></li>
                                            </ul>
                                        </article>
                                        {% endfor %}
                                    </div>
                                </section>

{% endblock %}
